.self-img {
  border-radius: 75px;
  margin-bottom: 10px;
  border: 0.5px solid gray;
}
 .name-text {
  margin-bottom: 10px;
  font-weight: 800;
 }

.main-home-div {
  padding-top: 75px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Aptos, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
