{% extends "base.html" %}
{% load lazy_render_bundle from webpack_bundle %}


{% block content %}
<div id="app">
    <about-page msg="Hello from Django and Vue!"></about-page>
</div>


{% endblock content %}

{% block extended_javascript %}
<script>
document.addEventListener("DOMContentLoaded", function(event) {
  var active = document.getElementsByClassName('active')[0];
  var about = document.getElementById('about');
  active.classList.remove("active");
  about.classList.add("active");
  {% lazy_render_bundle 'chunk-common' %}
  {% lazy_render_bundle 'main' %}

});
</script>

{% endblock %}
